<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
 <title>Nikto Report</title>
 <style type="text/css">
body {
text-align:center;
 background: #383838;
}
.dataTable
 {
  font-family: tahoma;
  font-size: 11pt; 
  font-weight: normal; 
  color: white;
  background: #383838;
  border-top: thin solid #000000;
  border-bottom: thin solid #000000;
  border-right: thin solid #000000;
  border-left: thin solid #000000;
  border-radius:5px;
  margin:auto;
  box-shadow:0px 0px 1px #ffffff;
  text-align:left;
 }
.dataTable  a 
  {
   color: #00ee41 !important;
   text-decoration:none;
  }
.dataTable  a:active 
  {
    outline: none;
  }
.dataTable  a:hover 
  {
   cursor: pointer;
   text-shadow: 0px 0px 3px #00ee41;
  }
.headerTable
 {
  font-family: tahoma;
  font-size: 15pt; 
  font-weight: bold; 
  color: #ff4008;
  background: #343434;
  border-top: thin solid #000000;
  border-bottom: thin solid #000000;
  border-right: thin solid #000000;
  border-left: thin solid #000000;
  width:95%;
  margin:auto;
  text-align:center;
 }
.column-head{
  width:150px;
}
 </style>
</head>
<body>
