
#app-picker {
  width: 320px;
}

#content-description {
  font-weight: bold;
}

#content-icon,
.listcell-icon {
  margin: 5px;
  width: 32px;
  height: 32px;
}

.listcell-label {
  padding: 5px;
}


listitem{
  background: #c7c7c7 url("chrome://mozapps/skin/extensions/richlistitem_bg.png") repeat-x top left;
  padding-top:12px;
  padding-bottom:12px;
  border-top: 1px solid #b6b6b6;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  color: #26272b;
  outline: none !important;
}

listitem[selected="true"] {
  background: #191b1c url("chrome://mozapps/skin/extensions/richlistitem_selected_bg.png") repeat-x top left;
  color: #00ee41;
  border-top: 1px solid rgb(6,6,6);
  -moz-transition: .2s ease-in;
  box-shadow: 0px 3px 7px rgba(0,0,0,.8) inset;
}

listitem[selected="true"]:hover {
  background: #00ee41 !important;
  color: #ffffff !important;
  border-top: 1px solid rgb(0,71,98) !important;
  -moz-transition: .2s ease-in;
  box-shadow: 0px 3px 7px rgba(0,0,0,.8) inset;
}

listitem:hover {
  background: #ffffff !important;
  border-top:1px solid transparent;
}

listitem:focus > listitem[selected="true"] {
  background: #191b1c url("chrome://mozapps/skin/extensions/richlistitem_selected_bg.png") repeat-x top left !important;
  color: #00ee41;
  border-top: 1px solid transparent;
  -moz-transition: .2s ease-in;
  box-shadow: 0px 3px 7px rgba(0,0,0,.8) inset;
}

listitem:focus, listitem[current="true"] {
  background: #191b1c url("chrome://mozapps/skin/extensions/richlistitem_selected_bg.png") repeat-x top left;
  color: #00ee41;
  border-top: 1px solid rgb(6,6,6);
  -moz-transition: .2s ease-in;
  box-shadow: 0px 3px 7px rgba(0,0,0,.8) inset;
}
