dropmarker {
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  -moz-box-align: center;
  -moz-box-pack: center;
  background-color: rgb(39,39,39);
  border-radius: 0px 2px 2px 0px;
  padding: 1px;
  list-style-image: url("chrome://global/skin/arrow/arrow-dn[dropmarker].png");
  -moz-image-region: auto;
}

dropmarker:hover:active:not([disabled="true"]) {
  padding-top: 2px;
  padding-bottom: 0px;
  -moz-padding-start: 2px;
  -moz-padding-end: 0px;
}

dropmarker[disabled="true"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn-dis.gif");
}
