/*
Copyright 2007 Security Compass

This file is part of SQL Inject Me.

SQL Inject Me is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SQL Inject Me is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SQL Inject Me.  If not, see <http://www.gnu.org/licenses/>.
*/

.failed {
    color: red;
}

.passed {
    color: green;
}

.warning {
    color: #AAAA00;
}

p {
    margin: 0;
}

.testfields {
    list-style: none;
}

.title {
    color: #405068 !important;
}

.bar-status{
    text-align: right;
    width: 10%;
    white-space: pre;
}
.bar {
    width: 99%;
    border: thin solid
}
.percent {
    text-align: left;
    width: 6em;
}
.bar-passed {

}
.bar-warning{
}
.bar-failed{
}
li {
    list-style: none;
}
.passed {
    color: green;
}
.warning {
    color: #AAAA00;
}
.failed {
    color: red;
}
.title {
    color: #405068 !important;
}
fieldset {
    margin-bottom: 1em;
}

ul {
    margin: 0;
}
li {
    margin-top: .5em;
}

.errors {
    background-color: #ffAAAA;
}
.warn {
    background-color: #FFFF33;
}
.pass {
    background-color: #66FF66;
}
ul.errors, ul.warn, ul.pass {
    margin: 0;
    padding: 1em;
}
legend {
    font-size:large;
}