
html {
  font-family: sans-serif;
  background: -moz-Field;
  color: -moz-FieldText;
  height: 100%;
  background-image: url("chrome://browser/content/bgPenQ1.png");
  background-repeat: no-repeat;
  background-color: #383838;
}

body {
  display: inline-block;
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

            .headBox{
              width:100%;
              text-align:left;
              border-bottom:1px solid #5d5d5d;
            }
	     .headBox img{
	    
             display:inline-block;

	    }
            .subHeads{
              width:100%;
              text-align:center;
			  padding:10px;
            }
            .linksBox {
              width:250px;
              height:530px;
              color:white;
              float:left;
              border-right:2px solid #5d5d5d;
              margin:10px;
              margin-top:20px;
              padding:5px 5px 5px 5px;
              opacity:0.9;
            }

            .linksBox a,.subHeads a {
              color:white;
              text-decoration:none;
              clear:both;
              width:230px;
              font-size:12px;
            }
            .subHeads a {
              padding:10px;
              padding-top:4px;
              font-size:16px !important;
            }
            .linksBox a:active,.subHeads a:active {
              outline: none;
            }
            .linksBox a:hover,.subHeads a:hover {
              color: #00ee41 !important;
              cursor: pointer;
            }
            .linksBox span {
              color:#ff4008;
              font-weight:bold;
              width:230px;
              clear:both;
            }
