
html {
  font-family: sans-serif;
  background: -moz-Field;
  color: -moz-FieldText;
  height: 99%;
  background-image: url("chrome://browser/content/bgPenQ1.png");
  background-repeat: no-repeat;
  background-color: #383838;
}

body {
  display: inline-block;
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
}


            .headBox span {
               color:white;
               text-shadow: 0px 0px 3px #ffffff;
               font-weight:bold;
               font-size:34px;
               text-decoration:none;
 		display:inline-block;
		padding:10px;
            }
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

            .linksBox {
              width:250px;
              height:530px;
              color:white;
              float:left;
              border-right:2px solid #5d5d5d;
              margin:10px;
              margin-top:20px;
              padding:5px 5px 5px 5px;
              opacity:0.9;
            }
            .linksBox a {
              color:white;
              text-decoration:none;
              clear:both;
              width:230px;
              font-size:12px;
            }
            .linksBox a:active {
              outline: none;
            }
            .linksBox a:hover {
              color: #00ee41 !important;
              cursor: pointer;
            }

            .linksBox span {
              color:#ff4008;
              font-weight:bold;
              width:230px;
              clear:both;
            }
